<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>x64</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://deltaapitest.datavail.com</SiteUrlToLaunchAfterPublish>
    <AzureAuthenticationAppPrincipalID />
    <AzureAuthenticationTenantID />
    <AzureAuthenticationReplyUrl />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://DEN3TWSAPI01:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>DATAVAIL\-svc-web-deploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Datavail.Delta.Repository.EfWithMigrations.DeltaDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=den3tsql03;Initial Catalog=DVDelta;User ID=DeltaApplication;Password=5a6WEbrecraZ5S" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Datavail.Delta.Repository.EfWithMigrations.DeltaDbContext, Datavail.Delta.Repository.EfWithMigrations" MigrationConfiguration="Datavail.Delta.Repository.EfWithMigrations.Migrations.Configuration, Datavail.Delta.Repository.EfWithMigrations" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QueuesConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=den3tsql03;Initial Catalog=DeltaQueues;User ID=DeltaApplication;Password=5a6WEbrecraZ5S" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=den3psqlvs02;Initial Catalog=DeltaQueues;User ID=DeltaApplication;Password=5a6WEbrecraZ5S" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QueuesConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=den3psqlvs02;Initial Catalog=DeltaQueues;User=DeltaApplication;Password=5a6WEbrecraZ5S;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Datavail.Delta.Repository.EfWithMigrations.DeltaDbContext-Web.config Connection String">
      <ParameterValue>Data Source=den3tsql03;Initial Catalog=DVDelta;User ID=DeltaApplication;Password=5a6WEbrecraZ5S</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QueuesConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=den3tsql03;Initial Catalog=DeltaQueues;User ID=DeltaApplication;Password=5a6WEbrecraZ5S</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>