<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DeltaStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=us2dvdelta;AccountKey=GrDj1xV1BoO5Dg024317um2IQzX97n9woA0mhaYXfHD9Vsv35/9fHQk0lsEiXOl4wg2FevbjqZ/WtzOEW/WaZQ=="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
