<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <log4net debug="true">
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=den3psqlvs02;User=DeltaLogging;Password=LogSafe2012;Initial Catalog=DeltaLogging" />
      <commandText value="INSERT INTO Log ([Date],[Level],[Logger],[User],[Message],[Exception]) VALUES (@log_date, @log_level, @logger, @user, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%c" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@user" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%X{user}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <logger name="TestConsole">
      <appender-ref ref="ADONetAppender" />
    </logger>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ADONetAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="DeltaAssemblyPath" value="C:\inetpub\wwwroot\DeltaAssemblies" />
  </appSettings>
  <connectionStrings>
    <add name="DeltaDbContext" connectionString="Data Source=den3psqlvs02;Initial Catalog=DVDelta;User=DeltaApplication;Password=5a6WEbrecraZ5S;" providerName="System.Data.SqlClient" />
    <add name="QueuesConnectionString" connectionString="Data Source=den3psqlvs02;Initial Catalog=DeltaQueues;User=DeltaApplication;Password=5a6WEbrecraZ5S;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <connectionManagement>
      <add name = "*" maxconnection = "256" />
    </connectionManagement>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="64" maxConcurrentInstances="1024" maxConcurrentSessions="1024" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="SecurityByTransport" maxReceivedMessageSize="5000000" receiveTimeout="00:00:30">
          <readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Datavail.Delta.Cloud.Ws.CheckInService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SecurityByTransport" contract="Datavail.Delta.Cloud.Ws.ICheckInService" />
      </service>
      <service name="Datavail.Delta.Cloud.Ws.CollectionService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SecurityByTransport" contract="Datavail.Delta.Cloud.Ws.ICollectionService" />
      </service>
      <service name="Datavail.Delta.Cloud.Ws.UpdateService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SecurityByTransport" contract="Datavail.Delta.Cloud.Ws.IUpdateService" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>