<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DeltaDwContext" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=DVDeltaWarehouse;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="QueuesConnectionString" connectionString="Data Source=den3psqlvs02;Initial Catalog=DeltaQueues;User=DeltaApplication;Password=5a6WEbrecraZ5S;;Connect Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
