<div id="FAQMain-container" class="container_12 leading main-content-page">

    <div class="container-table grid_12">

        <div class="pageheader">
            <h2><i class="fa fa-question"></i>FAQ </h2>
        </div>

        <div class="main" style="overflow-y: scroll; height: 450px;">
            <div class="accordion">

                <div id="divAccordian5" class="accordion-section">
                    <a class="accordion-section-title" id="accordionHeder5" href="#accordion-5"><i style="font-size: large;" class="fa fa-bullhorn"></i>How to add new customer in GUI?<span class="pull-right"> <i class="mr-5 fa fa-plus"></i></span></a>
                    <div id="accordion-5" class="accordion-section-content accordionHeder5">
                        <p>                            
                            <a href="https://dvail.sharepoint.com/ops/DVSQLMYSQLSharePointPractice/SQL/DeltaSite/_layouts/15/WopiFrame.aspx?sourcedoc={FD69F3D0-4CBE-4580-8D6E-260DCE5DD161}&file=AddCustomer.pptx&action=default" target="_blank">Click Here</a>
                        </p>
                    </div>
                    
                </div>

                <div id="divAccordian6" class="accordion-section">
                    <a class="accordion-section-title" id="accordionHeder6" href="#accordion-6"><i style="font-size: large;" class="fa fa-bullhorn"></i>How to add server for monitoring?<span class="pull-right"> <i class="mr-5 fa fa-plus"></i></span></a>
                    <div id="accordion-6" class="accordion-section-content accordionHeder6">
                        <p>
                            <a href="https://dvail.sharepoint.com/ops/DVSQLMYSQLSharePointPractice/SQL/DeltaSite/_layouts/15/WopiFrame.aspx?sourcedoc={E23D910D-493A-4CAC-8169-723CD40C88FF}&file=AddServer.pptx&action=default" target="_blank">Click Here</a>
                        </p>

                    </div>
                </div>

                <div id="divAccordian1" class="accordion-section">
                    <a class="accordion-section-title" id="accordionHeder1" href="#accordion-1"><i style="font-size: large;" class="fa fa-bullhorn"></i>How to remove server from monitoring?<span class="pull-right"> <i class="mr-5 fa fa-plus"></i></span></a>
                    <div id="accordion-1" class="accordion-section-content accordionHeder1">
                        <p>a.	Before deleting server, please make sure there is no SQL Server instance underneath.</p>
                        <p>b.	Put particular Server in maintenance mode</p>
                        <p>c.	Send email to  <a href="mailto:DeltaDevOPS@datavail.com" target="_top">DeltaDevOPS@datavail.com</a> with list of servers which needs to be deleted.</p>
                    </div>
                </div>

                <div id="divAccordian7" class="accordion-section">
                    <a class="accordion-section-title" id="accordionHeder7" href="#accordion-7"><i style="font-size: large;" class="fa fa-bullhorn"></i>How to add cluster servers for monitoring?<span class="pull-right"> <i class="mr-5 fa fa-plus"></i></span></a>
                    <div id="accordion-7" class="accordion-section-content accordionHeder7">
                        <p>
                            <a href="https://dvail.sharepoint.com/ops/DVSQLMYSQLSharePointPractice/SQL/DeltaSite/_layouts/15/WopiFrame.aspx?sourcedoc={5FBAA72E-9AB6-4BFC-820E-CF04476539C6}&file=AddClusteredServer.pptx&action=default" target="_blank">Click Here</a>
                        </p>
                    </div>
                </div>

                <div class="accordion-section">
                    <a class="accordion-section-title" id="accordionHeder2" href="#accordion-2"><i style="font-size: large;" class="fa fa-bullhorn"></i>How to remove cluster servers for monitoring?<span class="pull-right"> <i class="mr-5 fa fa-plus"></i></span></a>
                    <div id="accordion-2" class="accordionHeder2 accordion-section-content">
                        <p>a.	Before deleting server, please make sure there is no SQL Server instance underneath.</p>
                        <p>b.	Put particular Server in maintenance mode</p>
                        <p>c.	Send email to  <a href="mailto:DeltaDevOPS@datavail.com" target="_top">DeltaDevOPS@datavail.com</a> with list of servers which needs to be deleted.</p>
                        <p>d.	Once the servers/nodes has been deleted from Delta GUI ->  Go to particular cluster -> right click -> Delete</p>
                        <p><img src="../../Content/images/RemoveClusterServers.png" /></p>
                    </div>
                </div>

                <div id="divAccordian8" class="accordion-section">
                    <a class="accordion-section-title" id="accordionHeder8" href="#accordion-8"><i style="font-size: large;" class="fa fa-bullhorn"></i>How to add SQL Instance for monitoring?<span class="pull-right"> <i class="mr-5 fa fa-plus"></i></span></a>
                    <div id="accordion-8" class="accordion-section-content accordionHeder8">
                        <p>
                            <a href="https://dvail.sharepoint.com/ops/DVSQLMYSQLSharePointPractice/SQL/DeltaSite/_layouts/15/WopiFrame.aspx?sourcedoc={DABCD596-AFA8-4167-847E-D51EFFF9B813}&file=AddSQLInstance.pptx&action=default" target="_blank">Click Here</a>
                        </p>

                    </div>
                </div>

                <div class="accordion-section">
                    <a class="accordion-section-title" id="accordionHeder3" href="#accordion-3"><i style="font-size: large;" class="fa fa-bullhorn"></i>How to remove SQL Instance from monitoring?<span class="pull-right"> <i class="mr-5 fa fa-plus"></i></span></a>
                    <div id="accordion-3" class="accordionHeder3 accordion-section-content">
                        <p>a.	Go To Server -> Expand the Database Instances</p>
                        <p>b.	Select particular SQL Server Instance ->  Right click</p>
                        <p>c.	Click Delete</p>
                        <p><img src="../../Content/images/RemoveSqlInstance.png" /></p>
                    </div>
                </div>

                <div id="divAccordian9" class="accordion-section">
                    <a class="accordion-section-title" id="accordionHeder9" href="#accordion-9"><i style="font-size: large;" class="fa fa-bullhorn"></i>If Server is getting Check-in alert then what are the areas to check?<span class="pull-right"> <i class="mr-5 fa fa-plus"></i></span></a>
                    <div id="accordion-9" class="accordion-section-content accordionHeder9">
                        <p>
                            <a href="https://dvail.sharepoint.com/ops/DVSQLMYSQLSharePointPractice/SQL/DeltaSite/_layouts/15/WopiFrame.aspx?sourcedoc={5577AD28-C1C5-493C-A6A9-FBFF3066EA04}&file=Checkin.pptx&action=default" target="_blank">Click Here</a>
                        </p>

                    </div>
                </div>

                <div class="accordion-section">
                    <a class="accordion-section-title" id="accordionHeder4" href="#accordion-4"><i style="font-size: large;" class="fa fa-bullhorn"></i>If alert has been missed then what are the areas to check?<span class="pull-right"> <i class="mr-5 fa fa-plus"></i></span></a>
                    <div id="accordion-4" class="accordionHeder4 accordion-section-content">
                        <p>
                            <a href="https://dvail.sharepoint.com/ops/DVSQLMYSQLSharePointPractice/SQL/DeltaSite/_layouts/15/WopiFrame.aspx?sourcedoc={F52327C5-4CA3-4A98-9A64-6486D7ED10F0}&file=AlertMissedFAQ.pptx&action=default" target="_blank">Click Here</a>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>
<link href="../../Content/css/FAQMain2.css" rel="stylesheet" />
<link href="../../Content/css/FAQfont-awesome.css" rel="stylesheet" />

<script type="text/javascript">

    jQuery(document).ready(function () {
        function close_accordion_section() {
            //debugger;
            jQuery('.accordion .accordion-section-title').removeClass('active');
            jQuery('.accordion .accordion-section-content').slideUp(300).removeClass('open');
            $('.accordion-section-title span i').removeClass('active');
        }

        jQuery('.accordion-section-title').click(function (e) {
            //debugger;

            // Grab current anchor value
            var currentAttrValue = jQuery(this).attr('id');
            var currentAttrId = jQuery(this).attr('id');
            $('.accordion-section-title span i').removeClass('fa-minus');
            $('.accordion-section-title span i').addClass('fa-plus');

            //$('#' + currentAttrId + '.accordion-section-title span i').removeClass('fa-minus');
            //$('#' + currentAttrId + '.accordion-section-title span i').addClass('fa-plus');
            if (jQuery(e.target).is('.active')) {
                close_accordion_section();
            } else {
                close_accordion_section();

                // Add active class to section title
                jQuery(this).addClass('active');
                $('#' + currentAttrId + '.accordion-section-title span i').addClass('active');
                // Open up the hidden content panel
                //jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open');


                $('.' + currentAttrId + '.accordion-section-content').slideDown(300).addClass('open');
                $('#' + currentAttrId + '.accordion-section-title span i').removeClass('fa-plus');
                $('#' + currentAttrId + '.accordion-section-title span i').addClass('fa-minus');

            }

            e.preventDefault();
        });
    });

    $(document).ready(function () {

        $(".slidingDiv").hide();
        $(".show_hide").show();

        $('.show_hide').toggle(function () {
            $("#plus").text("-");
            $(".slidingDiv").slideDown();

        }, function () {
            $("#plus").text("+");
            $(".slidingDiv").slideUp();
        });

    });


    //});
    //$(function () {
    //    $("#accordion").accordion();
    //});



    function newPopup(url) {
        popupWindow = window.open(
            url, 'popUpWindow', 'height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }


</script>

