<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Delta Incident Processor" Language="1033" Version="!(bind.FileVersion.Datavail.Delta.IncidentProcessor.exe)" Manufacturer="Datavail Corporation" UpgradeCode="527b7ee7-7e74-4164-9610-335822789752">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platforms="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="Datavail.Delta.IncidentProcessor.cab" EmbedCab="yes"  />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="DatavailFolder" Name="Datavail">
          <Directory Id="INSTALLFOLDER" Name="Delta Incident Processor">
            <Component Id="Datavail.Delta.IncidentProcessor" Guid="{3D6B7843-2C3B-4D22-8504-1B8F8CCDE088}" Win64="yes">
              <File Id="AutoMapper.dll" Name="AutoMapper.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\AutoMapper.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.Application.dll" Name="Datavail.Delta.Application.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.Application.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.Application.Interface.dll" Name="Datavail.Delta.Application.Interface.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.Application.Interface.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.Application.ServiceDesk.ConnectWise.dll" Name="Datavail.Delta.Application.ServiceDesk.ConnectWise.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.Application.ServiceDesk.ConnectWise.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.Application.ServiceDesk.Email.dll" Name="Datavail.Delta.Application.ServiceDesk.Email.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.Application.ServiceDesk.Email.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.Domain.dll" Name="Datavail.Delta.Domain.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.Domain.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.IncidentProcessor.exe.config" Name="Datavail.Delta.IncidentProcessor.exe.config" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.IncidentProcessor.exe.config" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.Infrastructure.dll" Name="Datavail.Delta.Infrastructure.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.Infrastructure.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.Repository.EfWithMigrations.dll" Name="Datavail.Delta.Repository.EfWithMigrations.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.Repository.EfWithMigrations.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.Repository.Interface.dll" Name="Datavail.Delta.Repository.Interface.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.Repository.Interface.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\EntityFramework.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="FluentScheduler.dll" Name="FluentScheduler.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\FluentScheduler.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="log4net.dll" Name="log4net.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\log4net.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Ninject.dll" Name="Ninject.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Ninject.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Ninject.Extensions.ChildKernel.dll" Name="Ninject.Extensions.ChildKernel.dll" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Ninject.Extensions.ChildKernel.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="Datavail.Delta.IncidentProcessor.exe" Name="Datavail.Delta.IncidentProcessor.exe" Source="..\Datavail.Delta.IncidentProcessor\bin\$(var.Build)\Datavail.Delta.IncidentProcessor.exe" Vital="yes" KeyPath="yes" DiskId="1"/>
              <ServiceInstall
                Id="ServiceInstaller"
                Type="ownProcess"
                Vital="yes"
                Name="DeltaIp"
                DisplayName="Datavail Delta Incident Processor"
                Description="The Incident Processor background process for the Delta Application"
                Start="auto"
                Account="LocalSystem"
                ErrorControl="ignore"
                Interactive="no">
              </ServiceInstall>
              <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="DeltaIp" Wait="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="DeltaIp" Level="1">
      <ComponentRef Id="Datavail.Delta.IncidentProcessor" />
    </Feature>
  </Product>
</Wix>