<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="WT.sp" content="AzureDev" />
        <meta name="WT.cg_n" content="Manage" />
    <meta charset="utf-8" />
    <title>Datavail Delta</title>

    <noscript>
    <meta http-equiv="Refresh" content="0; URL=/Error/NoJS" />
    This site uses JavaScript.
    Your browser either does not support JavaScript, or scripts are being blocked.
    To find out whether your browser supports JavaScript, or to allow scripts, see the browser's online help.
    </noscript>


        <script>
            (function (global) {
                // Begin WebTrends (properties)
                global.gTrackEvents = 1;
                global.gDomain = "m.webtrends.com";
                global.gDcsId = "dcsgcos8i1000082fvehf8m5h_4y7b";
                // End WebTrends
            })(window);
        </script>
    

<link href="//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/favicon.ico" rel="icon" type="image/x-icon" />



<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.18/themes/base/jquery.ui.all.css" />



<style>
@@font-face { font-family: "Segoe UI"; src: local("Segoe UI"), url(//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/Fonts/segoeui.ttf); }
@@font-face { font-family: "Segoe UI Semibold"; src: local("Segoe UI Semibold"), url(//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/Fonts/seguisb.ttf); }
@@font-face { font-family: "Segoe UI Light"; src: local("Segoe UI Light"), url(//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/Fonts/segoeuil.ttf); }
</style>



<link rel="stylesheet" type="text/css" href="//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/Dynamic/CoreCss/E877A92D79226EEED1E254B6A4380337.css" />


<link rel="stylesheet" type="text/css" href="//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/Dynamic/ExtensionsCss/75D488B3EC48B0EF8EC3009BE1BB22D1.css" />



</head>
<body>
    
    <!--[if IE]>
    <script>
        if (!window.document.documentMode || window.document.documentMode < 8) {
            window.location = "/Error/Unsupported";
        }
    </script>
    <![endif]-->
        
    <form id="__AjaxAntiForgeryForm" action="#" method="post"><input name="__RequestVerificationToken" type="hidden" value="BalamPQb7GVQp1JbsUhL/NKtOu91F1hM+7jwTewbT8HjujFVmWTjC1RB66i5/MiJBfHQJ2SSBpZot4ECBscoecedngbhRsTGVIWn4vr5sy7h6i/1o6NpID92xGFIsTdRw5luSXecYbdRSlPDqZX70DdCkatzZ06AbImSOKNUir17Plv1uPQhldZGJD+mUMoKpJVriJC3SZDfgwF3vN4oq6qIpD5y+MrhotmtYSOmTwE=" /></form>

    <div id="fxshell-wallpaper">
        <div id="fxshell-wallpaper-b">
        </div>
        <div id="fxshell-wallpaper-a">
        </div>
    </div>
    <div class="fxshell-avatarbar">
    </div>
    <div id="fxshell-navpane">
    </div>
    <div id="aux-foreground">
        <div id="aux-body">
            <div id="secondary-container">
                <div id="aux-pane-grid">
                    <h1 id="aux-GridHeader" class="itemtitle">
                    </h1>
                    <div id="aux-GridContent">
                        <div id="aux-collectionView" class="aux-collectionView">
                        </div>
                    </div>
                </div>
                <div id="tabcontainer">
                    <h1 class="itemtitle">
                    </h1>
                    <div class="fxshell-tabcontainer">
                        <ul class="fsxshell-tablist">
                        </ul>
                    </div>
                    <div class="aux-tabcontent">
                        <div class="tabcontent">
                        </div>
                        <div id="fxshell-tabshield">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div id="aux-dialogs">
<div id="fxshell-diagnosticDialog"></div>
<div id="aux-yesNoDialog" class="aux-dialog aux-yesNoDialog" title="">
    
    <div id="aux-yesNoDialog-close" class="aux-yesNoDialog-close"></div>
    <table id="aux-yesNoDialog-table">
        <tr>
            <td>
                <div id="aux-yesNoDialogTemplate">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="aux-yesNoDialog-commandBar" class="aux-dialogCommandBar">
                    <a id="aux-yesNoDialog-yesButton" href="javascript: void(0);">
                        <img class="aux-dialogButton" src="//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/Images/Tick.png" alt="Yes" />
                    </a>
                    <a id="aux-yesNoDialog-noButton" href="javascript: void(0);">
                        <img class="aux-dialogButton" src="//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/Images/Cross.png" alt="No" />
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="aux-messageDialog" class="aux-messageDialog" title="">
    <div id="aux-messageDialog-inner" class="aux-messageDialog-inner">
        <div id="aux-messageDialog-body" class="aux-messageDialog-body">
            <div id="aux-messageDialog-close" class="aux-messageDialog-close"></div>
            <div id="aux-messageDialog-context" class="aux-messageDialog-context"></div>
            <div id="aux-messageDialog-title" class="aux-messageDialog-title"></div>
            <div id="aux-messageDialog-content" class="aux-messageDialog-content"></div>
        </div>
        <div id="aux-messageDialog-commandBar" class="aux-messageDialog-commandBar">
            <div id="aux-messageDialog-okButton" class="aux-dialogButton">
                Close <img src="//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/Images/Tick.png" alt="Close"/>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
    <div id="fxshell-tabspinner">
    </div>
    <div id="fxshell-drawer-surround">
    </div>

    

    

<script type="text/javascript">
    window.environment = { "accountUrl": "https:\/\/account.windowsazure.com\/Subscriptions", "applicationRoot": "https:\/\/manage.windowsazure.com", "betaFeatures": [{ "extensionName": "VirtualMachineExtension", "featureName": "virtualmachines" }, { "extensionName": "WebsiteExtension", "featureName": "websites" }, { "extensionName": "NetworkExtension", "featureName": "virtualmachines" }, { "extensionName": "MediaServicesExtension", "featureName": "mediaservices" }, { "extensionName": "MobileServicesExtension", "featureName": "mobileservices" }], "betaSignUpUrl": "http:\/\/go.microsoft.com\/fwlink\/?LinkID=253769&CLCID=0x409", "branding": "Windows Azure", "developmentMode": false, "enableHelpDrawer": true, "feedbackLink": "mailto:azureportalfeedback@microsoft.com?body=Include the following details:%0A 1. Brief description of what you were trying to do: %0A 2. Screenshot <if applicable>: %0A%0A If you are reporting an issue also include: %0A  1. Subscription ID: %0A 2. Deployment ID<if applicable>:  %0A 3. The error message that you received:", "isAdminMode": false, "isOnPremMode": false, "isTelemetryEventDisabled": [false, false, false, false, false, false, false, false, false, false, false, true, false, false], "navigationLinks": [{ "label": "Home", "selected": false, "url": "\/\/go.microsoft.com\/fwLink\/?LinkID=232466&clcid=0x409" }, { "label": "Pricing", "selected": false, "url": "\/\/go.microsoft.com\/fwLink\/?LinkID=232467&clcid=0x409" }, { "label": "Develop", "selected": false, "url": "\/\/go.microsoft.com\/fwLink\/?LinkID=232468&clcid=0x409" }, { "label": "Manage", "selected": false, "url": "\/\/go.microsoft.com\/fwLink\/?LinkID=254708&clcid=0x409" }, { "label": "Community", "selected": false, "url": "\/\/go.microsoft.com\/fwLink\/?LinkID=232469&clcid=0x409" }, { "label": "Support", "selected": false, "url": "\/\/go.microsoft.com\/fwLink\/?LinkID=232470&clcid=0x409" }, { "label": "Account", "selected": false, "url": "https:\/\/account.windowsazure.com\/Subscriptions" }, { "label": "Portal", "selected": true, "url": "#" }], "pageRequestId": "b2b33542-7307-49d9-bb27-0cdbf199a458", "portalVersion": "2.6.00296.131 (rd_auxportal_stable.121004-2145)", "productionPortalUrl": "https:\/\/windows.azure.com\/switch.aspx?v=2", "signOutLink": "https:\/\/login.microsoftonline.com\/logout.srf?ct=1349703196&rver=6.1.6206.0&lc=1033&id=500879&ru=https:%2F%2Fmanage.windowsazure.com%2F", "staticContentRootUrl": "\/\/az213233.vo.msecnd.net", "userEmailAddress": "matt.calhoun@datavail.com", "userFirstName": " " };
</script>
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.18/jquery-ui.min.js"></script>
<script>

    (function ($, global) {
        "use strict";

        $.extend(true, global, {
            fx: {
                environment: { "contentUrlBasePath": "//az213233.vo.msecnd.net/", "contentVersionToken": "2.6.00296.131.121004-2145", "locale": "en-us", "localeQueryStringParameter": "l", "supportedLocales": ["en-us"], "uxFxImageRoot": "//az213233.vo.msecnd.net/Content/2.6.00296.131.121004-2145/Images", "versionedContentRoots": ["/content", "/scripts"] }
            }
        });
    })(jQuery, this);

</script>

<script src="//az213233.vo.msecnd.net/Scripts/2.6.00296.131.121004-2145/Dynamic/CoreScript/CE4D9CBD0DA1BB3DAE194788A987E162.js"></script>
<script src="//az213233.vo.msecnd.net/Scripts/2.6.00296.131.121004-2145/Dynamic/ExtensionResources/E830B1BF38DF0E9E02507BDE93D22C0E.js?c=en-US"></script>
<script src="//az213233.vo.msecnd.net/Scripts/2.6.00296.131.121004-2145/Dynamic/ExtensionsScript/DD0A53428D2DCB2F82E2D95FDD3C4F9E.js"></script>
<script src="//az213233.vo.msecnd.net/Scripts/2.6.00296.131.121004-2145/Dynamic/Templates/20EB97ED9D7084C9CD0AC6BBDD7F5386.js"></script>
<script>
    (function (global) {
        'use strict';
        if (!global.Shell || !global.Exp) {
            (function (global, disableCdnQueryStringParameter) {
                "use strict";

                function getUrlWithQueryStringParameter(url, key, value) {
                    url = url || "";

                    var regEx = new RegExp("([?&])" + key + "=.*?(&|$)", "i"),
                        hashPosition = url.indexOf("#"),
                        urlWithoutHash = hashPosition >= 0 ? url.substr(0, hashPosition) : url,
                        hash = hashPosition >= 0 ? url.substr(hashPosition) : "",
                        separator;

                    // If the url is missing a slash after the domain name, we add it
                    if (urlWithoutHash.split("/").length === 3) {
                        urlWithoutHash += "/";
                    }

                    key = global.encodeURIComponent(key);
                    value = global.encodeURIComponent(value);

                    if (urlWithoutHash) {
                        separator = urlWithoutHash.indexOf("?") !== -1 ? "&" : "?";

                        if (urlWithoutHash.match(regEx)) {
                            urlWithoutHash = urlWithoutHash.replace(regEx, "$1" + key + "=" + value + "$2");
                        } else {
                            urlWithoutHash = urlWithoutHash + separator + key + "=" + value;
                        }

                        return urlWithoutHash + hash;
                    }

                    return null;
                }

                var url = getUrlWithQueryStringParameter(
                        global.location.href,
                        disableCdnQueryStringParameter,
                        true);

                global.location.href = url;
            }
)(window, "nocdn");
        }
    })(this);
</script>

    <script>
        (function (global, undefined) {
            "use strict";

            var $ = global.jQuery,
                fx = global.fx,
                shell = global.Shell,
                allExtension = global.AllExtension;

            function missingScripts() {
                var temp = "?missing=",
                    len = 0;


                temp += (!$ ? "jQuery," : "");
                temp += (!fx ? "fx," : "");
                temp += (!shell ? "shell," : "");
                temp += (!allExtension ? "allExtension" : "");

                len = temp.length - 1;


                if (temp.charAt(len) == ',') {
                    return temp.substr(0, len);
                } else {
                    return temp;
                }
            }


            if (!$ || !fx || !shell || !allExtension) {
                global.location.href = "/Error/NotLoaded" + missingScripts();
                return;
            }

            shell.UI.Spinner.show();

            function initialize() {
                var exp = global.Exp,
                    dataSet = { "namePropertyName": "id", "displayNamePropertyName": "displayName", "collectionNamePropertyName": "data", "pollingInterval": 45000, "fastPollingInterval": 10000, "slowPollingInterval": 300000, "isComplete": true, "data": { "subscriptions": [{ "id": "8f29763c-8e32-4452-8e75-aa4ce2b1f303", "locations": [{ "Name": "West Europe", "DisplayName": "West Europe", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "Southeast Asia", "DisplayName": "Southeast Asia", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "East Asia", "DisplayName": "East Asia", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "North Central US", "DisplayName": "North Central US", "AvailableServices": ["Compute", "Storage"], "ExtensionData": {} }, { "Name": "North Europe", "DisplayName": "North Europe", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "South Central US", "DisplayName": "South Central US", "AvailableServices": ["Compute", "Storage"], "ExtensionData": {} }, { "Name": "West US", "DisplayName": "West US", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "East US", "DisplayName": "East US", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }], "affinityGroups": [], "isTrial": false, "OfferCategory": null, "OfferFriendlyName": null, "RegisteredServices": null, "Created": "\/Date(-62135596800000)\/", "SubscriptionID": "8f29763c-8e32-4452-8e75-aa4ce2b1f303", "SubscriptionName": "Delta Database", "SubscriptionStatus": "Active", "AccountAdminLiveEmailId": "matt.calhoun@datavail.com", "ServiceAdminLiveEmailId": "matt.calhoun@datavail.com", "MaxCoreCount": 20, "MaxStorageAccounts": 5, "MaxHostedServices": 20, "CurrentCoreCount": 0, "CurrentHostedServices": 0, "CurrentStorageAccounts": 0, "Services": null, "Applications": null, "IsComplete": false, "Features": [{ "Name": "mediaservices", "FriendlyName": "Windows Azure Media Services", "Description": "Windows Azure Media Services enable solution providers and content owners to build end-to-end workflows for the creation, management, and distribution of media.", "Status": "Available", "ExtensionData": {} }, { "Name": "mobileservices", "FriendlyName": "Windows Azure Mobile Services", "Description": "Get started with a mobile app in minutes and build a highly scalable and secure backend with object storage, optional app logic and push notifications. Get started for free and scale as you go on a cloud platform that enables automatic scale-out options through reserved instances for greater isolation and performance. The preview currently supports Windows 8 clients.", "Status": "Available", "ExtensionData": {} }, { "Name": "VirtualMachineRole", "FriendlyName": "VM Role", "Description": "The VM Role Beta Program includes a new Windows Azure role that allows you to upload a custom virtual hard disk image of a Windows Server 2008 R2 virtual machine and run it in Windows Azure.  By checking the box to opt-in to the VM Role Beta program, you accept the [[http://go.microsoft.com/fwlink/?LinkID=206791&clcid=0x409|license terms]] for your use of the Windows Server 2008 R2 software in the VM Role Beta Program.", "Status": "Available", "ExtensionData": {} }, { "Name": "virtualmachines", "FriendlyName": "Windows Azure Virtual Machines", "Description": "Instantly run your existing applications in the cloud using Windows Azure Virtual Machines. Virtual Machines allow you to easily move your applications and infrastructure to the cloud without requiring any changes to the existing code. You can bring your own Windows Server or Linux images or select from a gallery. Regardless of your choice, you retain full control to configure and maintain the image.", "Status": "Available", "ExtensionData": {} }, { "Name": "websites", "FriendlyName": "Windows Azure Web Sites", "Description": "Quickly and easily deploy sites to a highly scalable cloud environment with the frameworks and open source apps of your choice using Windows Azure Web Sites. Get started for free and scale as you go on a cloud platform that enables automatic scale-out options across shared and reserved instances for greater isolation and performance.", "Status": "Available", "ExtensionData": {} }], "OfferCategories": null, "ExtensionData": {} }, { "id": "b1b8bac7-1ca4-4489-b356-c3504665a7c8", "locations": [{ "Name": "West Europe", "DisplayName": "West Europe", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "Southeast Asia", "DisplayName": "Southeast Asia", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "East Asia", "DisplayName": "East Asia", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "North Central US", "DisplayName": "North Central US", "AvailableServices": ["Compute", "Storage"], "ExtensionData": {} }, { "Name": "North Europe", "DisplayName": "North Europe", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "South Central US", "DisplayName": "South Central US", "AvailableServices": ["Compute", "Storage"], "ExtensionData": {} }, { "Name": "West US", "DisplayName": "West US", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }, { "Name": "East US", "DisplayName": "East US", "AvailableServices": ["Compute", "Storage", "PersistentVMRole"], "ExtensionData": {} }], "affinityGroups": [{ "Name": "aab41bdb-9319-43b0-ac72-035b3ae3efad", "Label": "LegacyDeltaAffinityGroup", "Description": "", "Location": "North Central US", "HostedServices": null, "StorageServices": null, "Capabilities": [], "ExtensionData": {} }], "isTrial": false, "OfferCategory": null, "OfferFriendlyName": null, "RegisteredServices": null, "Created": "\/Date(-62135596800000)\/", "SubscriptionID": "b1b8bac7-1ca4-4489-b356-c3504665a7c8", "SubscriptionName": "Delta Servers", "SubscriptionStatus": "Active", "AccountAdminLiveEmailId": "matt.calhoun@datavail.com", "ServiceAdminLiveEmailId": "matt.calhoun@datavail.com", "MaxCoreCount": 80, "MaxStorageAccounts": 5, "MaxHostedServices": 20, "CurrentCoreCount": 6, "CurrentHostedServices": 1, "CurrentStorageAccounts": 1, "Services": null, "Applications": null, "IsComplete": false, "Features": [{ "Name": "mediaservices", "FriendlyName": "Windows Azure Media Services", "Description": "Windows Azure Media Services enable solution providers and content owners to build end-to-end workflows for the creation, management, and distribution of media.", "Status": "Available", "ExtensionData": {} }, { "Name": "mobileservices", "FriendlyName": "Windows Azure Mobile Services", "Description": "Get started with a mobile app in minutes and build a highly scalable and secure backend with object storage, optional app logic and push notifications. Get started for free and scale as you go on a cloud platform that enables automatic scale-out options through reserved instances for greater isolation and performance. The preview currently supports Windows 8 clients.", "Status": "Available", "ExtensionData": {} }, { "Name": "VirtualMachineRole", "FriendlyName": "VM Role", "Description": "The VM Role Beta Program includes a new Windows Azure role that allows you to upload a custom virtual hard disk image of a Windows Server 2008 R2 virtual machine and run it in Windows Azure.  By checking the box to opt-in to the VM Role Beta program, you accept the [[http://go.microsoft.com/fwlink/?LinkID=206791&clcid=0x409|license terms]] for your use of the Windows Server 2008 R2 software in the VM Role Beta Program.", "Status": "Available", "ExtensionData": {} }, { "Name": "virtualmachines", "FriendlyName": "Windows Azure Virtual Machines", "Description": "Instantly run your existing applications in the cloud using Windows Azure Virtual Machines. Virtual Machines allow you to easily move your applications and infrastructure to the cloud without requiring any changes to the existing code. You can bring your own Windows Server or Linux images or select from a gallery. Regardless of your choice, you retain full control to configure and maintain the image.", "Status": "Available", "ExtensionData": {} }, { "Name": "websites", "FriendlyName": "Windows Azure Web Sites", "Description": "Quickly and easily deploy sites to a highly scalable cloud environment with the frameworks and open source apps of your choice using Windows Azure Web Sites. Get started for free and scale as you go on a cloud platform that enables automatic scale-out options across shared and reserved instances for greater isolation and performance.", "Status": "Available", "ExtensionData": {} }], "OfferCategories": null, "ExtensionData": {} }], "environmentSettings": { "HostedServiceDnsSuffix": "cloudapp.net", "StorageServiceSuffix": "core.windows.net", "AntaresHostedSiteUriFormat": "{0}.azurewebsites.net", "MaxClearDatabasesAllowed": 1, "ServiceBusDnsSuffix": "servicebus.windows.net" }, "locations": [{ "id": "West Europe", "name": "West Europe", "displayName": "West Europe", "type": "Location", "supportedSubscriptionIds": ["8f29763c-8e32-4452-8e75-aa4ce2b1f303", "b1b8bac7-1ca4-4489-b356-c3504665a7c8"], "availableServices": ["Compute", "Storage", "PersistentVMRole"] }, { "id": "Southeast Asia", "name": "Southeast Asia", "displayName": "Southeast Asia", "type": "Location", "supportedSubscriptionIds": ["8f29763c-8e32-4452-8e75-aa4ce2b1f303", "b1b8bac7-1ca4-4489-b356-c3504665a7c8"], "availableServices": ["Compute", "Storage", "PersistentVMRole"] }, { "id": "East Asia", "name": "East Asia", "displayName": "East Asia", "type": "Location", "supportedSubscriptionIds": ["8f29763c-8e32-4452-8e75-aa4ce2b1f303", "b1b8bac7-1ca4-4489-b356-c3504665a7c8"], "availableServices": ["Compute", "Storage", "PersistentVMRole"] }, { "id": "North Central US", "name": "North Central US", "displayName": "North Central US", "type": "Location", "supportedSubscriptionIds": ["8f29763c-8e32-4452-8e75-aa4ce2b1f303", "b1b8bac7-1ca4-4489-b356-c3504665a7c8"], "availableServices": ["Compute", "Storage"] }, { "id": "North Europe", "name": "North Europe", "displayName": "North Europe", "type": "Location", "supportedSubscriptionIds": ["8f29763c-8e32-4452-8e75-aa4ce2b1f303", "b1b8bac7-1ca4-4489-b356-c3504665a7c8"], "availableServices": ["Compute", "Storage", "PersistentVMRole"] }, { "id": "South Central US", "name": "South Central US", "displayName": "South Central US", "type": "Location", "supportedSubscriptionIds": ["8f29763c-8e32-4452-8e75-aa4ce2b1f303", "b1b8bac7-1ca4-4489-b356-c3504665a7c8"], "availableServices": ["Compute", "Storage"] }, { "id": "West US", "name": "West US", "displayName": "West US", "type": "Location", "supportedSubscriptionIds": ["8f29763c-8e32-4452-8e75-aa4ce2b1f303", "b1b8bac7-1ca4-4489-b356-c3504665a7c8"], "availableServices": ["Compute", "Storage", "PersistentVMRole"] }, { "id": "East US", "name": "East US", "displayName": "East US", "type": "Location", "supportedSubscriptionIds": ["8f29763c-8e32-4452-8e75-aa4ce2b1f303", "b1b8bac7-1ca4-4489-b356-c3504665a7c8"], "availableServices": ["Compute", "Storage", "PersistentVMRole"] }], "affinityGroups": [{ "id": "b1b8bac7-1ca4-4489-b356-c3504665a7c8__aab41bdb-9319-43b0-ac72-035b3ae3efad", "name": "aab41bdb-9319-43b0-ac72-035b3ae3efad", "description": "", "displayName": "LegacyDeltaAffinityGroup (aab41bdb-9319-43b0-ac72-035b3ae3efad)", "label": "LegacyDeltaAffinityGroup", "location": "North Central US", "subscriptionId": "b1b8bac7-1ca4-4489-b356-c3504665a7c8", "type": "AffinityGroup", "capabilities": [], "locationName": "North Central US" }] }, "eTag": "7B92066BFAA3E0BD163C3774CA2606DC", "mergeMethod": "Cascade" };
                exp.internal.rdfe.initialize(dataSet, function () {
                    shell.Internal.initialize()
                        .then(function () {
                            shell.Internal.start(function () {
                                var telemetry = shell.Diagnostics.Telemetry;

                                telemetry.timerStart("cdm.initialize.requestAllDataSets");
                                exp.Data.internal.requestAllDataSets(function () {
                                    telemetry.timerStopAndLog("cdm.initialize.requestAllDataSets", "Initial data fetch:");
                                });

                                exp.GettingStarted.determine().done(
                                    function () {
                                        shell.UI.Navigation.navigate(global.location.hash);
                                    });

                                shell.UI.Spinner.hide();
                            });

                            exp.Drawer.initialize("#fxshell-drawer-surround");
                        });
                });
            }

            shell.Configuration.initialize().then(
                function (result) {
                    initialize();
                },
                function (error) {
                    initialize();
                });
        })(this);
    </script>
    @RenderBody();
</body>
</html>


