<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Datavail.Delta.Repository.EfWithMigrations.DeltaDbContext" connectionString="Data Source=den3psqlvs02;Initial Catalog=DVDelta;User=DeltaApplication;Password=5a6WEbrecraZ5S;" providerName="System.Data.SqlClient" />
    <add name="QueuesConnectionString" connectionString="Data Source=den3psqlvs02;Initial Catalog=DeltaQueues;User=DeltaApplication;Password=5a6WEbrecraZ5S;" providerName="System.Data.SqlClient" />
    <add name="MongoServerSettings" connectionString="mongodb://localhost/Delta" />
  </connectionStrings>
</configuration>