<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Datavail.Delta.Application.ServiceDesk.ConnectWise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DeltaConnectionString" connectionString="server=localhost\sqlexpress;integrated security=true;Database=DVDelta" providerName="System.Data.SqlClient" />-->
    <add name="DeltaConnectionString" connectionString="Data Source=10.56.181.141;Failover Partner=10.56.181.143;Initial Catalog=DVDelta;User=DeltaApplication;Password=5a6WEbrecraZ5S;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DeltaDwContext" connectionString="server=localhost\sqlexpress;integrated security=true;Database=DVDeltaDataWarehouse" providerName="System.Data.SqlClient" />-->
    <add name="DeltaDwContext" connectionString="data source=w8cnehm1vr.database.windows.net;initial catalog=DVDeltaWarehouse;user=dvsa@w8cnehm1vr;password=DeltaSafe2011;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataCacheClients>
    <dataCacheClient name="default">
      <hosts>
        <host name="dvdelta.cache.windows.net" cachePort="22233" />
        <host name="[Insert Cache EndPoint]" cachePort="22233" />
      </hosts>
      <securityProperties mode="Message">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vZHZkZWx0YS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciY2b0d6bHBOVDZjbm5kWWpFalkwMmYwOFQyZWx4UlZGZFY0Z1R2TXpxSjhVPSZodHRwOi8vZHZkZWx0YS5jYWNoZS53aW5kb3dzLm5ldA=="></messageSecurity>
        <messageSecurity authorizationInfo="[Encrypted ACS token goes here]"></messageSecurity>
      </securityProperties>
    </dataCacheClient>
    <dataCacheClient name="SslEndpoint">
      <hosts>
        <host name="[Insert Cache EndPoint]" cachePort="22243" />
      </hosts>
      <securityProperties mode="Message" sslEnabled="true">
        <messageSecurity authorizationInfo="[Encrypted ACS token goes here]"></messageSecurity>
      </securityProperties>
    </dataCacheClient>
  </dataCacheClients>
  <entityFramework>
    <contexts>
      <context type="Datavail.Delta.Cloud.Datawarehouse.Worker.DeltaDwContext, Datavail.Delta.Cloud.Datawarehouse.Worker">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Datavail.Delta.Cloud.Datawarehouse.Worker.DeltaDwContext, Datavail.Delta.Cloud.Datawarehouse.Worker], [Datavail.Delta.Cloud.Datawarehouse.Worker.Migrations.Configuration, Datavail.Delta.Cloud.Datawarehouse.Worker]], EntityFramework" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>