<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Datavail Delta REST API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Datavail Delta REST API!</h1>
                <h2>This site is designed to be accessed by various components of the Delta application and not by humans.</h2>
            </hgroup>
            <p>
                If you are looking for the Delta configuration portal, please visit <a href="https://deltaconfig.datavail.com">this page</a>.
            </p>
        </div>
    </section>
    
</div>
