<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceNowSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceNowSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://datavail.service-now.com/incident_list.do?SOAP"
                binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap"
                contract="snc.ServiceNowSoap" name="ServiceNowSoap" />
        </client>
    </system.serviceModel>
</configuration>