<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AgentServiceName" value="DeltaAgent"/>
    <add key="AgentUpdaterServiceName" value="DeltaAgentUpdater"/>
    <add key="SourcePath" value="C:\Program files\Datavail\Delta Agent"/>
    <add key="UpadatedAgentpatch" value="Bug48-Files"/>
    <add key="BackupFolder" value="Backup-Bug48v1"/>
  </appSettings>
</configuration>