<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Datavail.Delta.Application.ServiceDesk.ConnectWise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Datavail.Delta.Application.ServiceDesk.ConnectWise.Properties.Settings>
            <setting name="Datavail_Delta_Application_ServiceDesk_ConnectWise_ConnectWiseWs_integration_io"
                serializeAs="String">
                <value>https://connecttest.datavail.com/v4_6_release/services/system_io/integration_io.asmx</value>
            </setting>
        </Datavail.Delta.Application.ServiceDesk.ConnectWise.Properties.Settings>
    </applicationSettings>
</configuration>