<table id="TblGrid_mettricconfig-table" class="EditTable" border="0" cellspacing="0"
    cellpadding="0">
    <tbody>
        <tr style="display: none;" id="FormError">
            <td class="ui-state-error" colspan="2">
            </td>
        </tr>
        <tr style="display: none;" class="tinfo">
            <td class="topinfo" colspan="2">
            </td>
        </tr>
        <tr id="tr_name" class="FormData" rowpos="1">
            <td class="CaptionTD">
                Configuration Name
            </td>
            <td class="DataTD">
                &nbsp;<input id="name" class="FormElement ui-widget-content ui-corner-all" role="textbox"
                    name="name" size="50" type="text">
            </td>
        </tr>
        <tr id="tr_metricid" class="FormData" rowpos="2">
            <td class="CaptionTD">
                Metric
            </td>
            <td class="DataTD">
                &nbsp;<select class="FormElement" role="select"></select>
            </td>
        </tr>
        <tr style="display: none;" class="FormData">
            <td class="CaptionTD">
            </td>
            <td class="DataTD" colspan="1">
                <input id="id_g" class="FormElement" name="mettricconfig-table_id" value="24e73e21-a30d-43d2-bf03-2e5897d9de36"
                    type="text">
            </td>
        </tr>
    </tbody>
</table>
