@model Datavail.Delta.Cloud.Mvc.Models.ToolbarItemModel
           
<li><a href="@Model.ToolbarItemUrl" title="@Model.ToolbarItemTitle" class="@Model.ToolbarItemClass" id="@Model.ToolbarItemId">
</a></li>
