<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DeltaDbContext" connectionString="Data Source=den3psqlvs02;Initial Catalog=DVDelta;User=DeltaApplication;Password=5a6WEbrecraZ5S;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DeltaDbContext" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=DVDelta;Integrated Security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>