<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="NumberOfWorkerThreads" value="25" />
    <add key="ServiceDeskEmailerEnabled" value="false" />
    <add key="ServiceDeskConnectwiseEnabled" value="false" />
    <add key="ServiceDeskServiceNowEnabled" value="true"/>
    <add key="ServiceNowMailerHost" value="mail-relay.datavail.local" />
    <add key="ServiceNowMailerPort" value="25" />
    <add key="ServiceNowMailerTo" value="servicenow@datavail.com" />
    <add key="DefaultServiceDesk" value="ServiceNow"/>
    <add key="CheckInSendTo" value="sqltier3leads@datavail.com" />
    <add key="IsCheckInProcessor" value="false" />
    <add key="CheckInRunFrequency" value="5" />
    <add key="DivertCheckInsToEMail" value="true" />
    <add key="MailerFrom" value="delta-checkins@datavail.com" />
    <add key="MailerHost" value="mail-relay.datavail.local" />
  </appSettings>
  <connectionStrings>
    <add name="Datavail.Delta.Repository.EfWithMigrations.DeltaDbContext" connectionString="Data Source=den3psqlvs03;Initial Catalog=DVDelta;User=DeltaApplication;Password=5a6WEbrecraZ5S;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="QueuesConnectionString" connectionString="Data Source=den3psqlvs03;Initial Catalog=DeltaQueues;User=DeltaApplication;Password=5a6WEbrecraZ5S;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="DeltaIp.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d [%thread]: %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="BE96CD2C38EF1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.265.0" newVersion="2.1.265.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>