<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Datavail.Delta.Repository.EfWithMigrations.DeltaDbContext" connectionString="Data Source=den3psqlvs03;Initial Catalog=DVDelta;User=DeltaApplication;Password=5a6WEbrecraZ5S;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="QueuesConnectionString" connectionString="Data Source=den3psqlvs03;Initial Catalog=DeltaQueues;User=DeltaApplication;Password=5a6WEbrecraZ5S;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>